body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    background-color: white;
    min-height: 100vh;
    flex: 1;   
    
}

.right{
    margin-left: auto;
}
.info{
    flex: 1;
}
.bold{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}
.super-big{
    font-size: 48px;
    font-weight: 900;
}
.header{
    display: flex;
    font-size: 18px;
    color: white;
    background-color: #1F2937;
    padding: 32px;
    padding-left: 52px;
    padding-right: 52px;
    gap: 18px;
}
.topcontent{
    display: flex;
    font-size: 24px;
    color: #E5E7EB;
    background-color: #1F2937;
    padding:32px;
    justify-content: space-around;
}

.placeholder{
    height:100px;
    width:250px;
    background-color: darkgray;
   
}

.image-text{
    width: 142px;
    text-align: center;
    padding-top: 5px;
}
.illustration{
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}

.small-placeholder{
    width: 142px;
    height: 142px;
  
    flex-shrink:0;
    border: 2px solid #3882F6;
    border-radius: 15px;

}
.random-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:30px;
    padding-bottom:50px;
}

.infoheader{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding:30px
}

.button{
    padding:8px;
}
.testamonials{
    background-color: #E5E7EB;
    display: flex;
    flex: 1;
    font-size: 32px;
    font: light-italic;
    color: #1F2937;
    padding: 30px;
    justify-content: center;
   
    
}
.testtext{ 
    flex-shrink: 0;
    width: 700px;
    font-style:italic
    
}

.rightside{
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
    font-size: 20px;
    font-style:normal;
    font-family: Gill Sans Extrabold, sans-serif;
   
}
.footer{
    justify-content: flex-end;
}